@font-face {
    font-family: 'Simlish';
    src: url('./assets/immajer-Simlish.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

/*@font-face {
    font-family: 'Comic';
    src: url('./assets/ComicRelief-Bold.woff2') format('woff');
    font-weight: bold;
    font-style: normal;
}*/

.emote {
    display: inline;
}
